.image {
    margin: 0 auto 0.55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100%;
    height: auto;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image.image-style-side {
    float: right;
}

.lessonDiv {
    flex-grow: 1;
}